<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="static\css\styles.css">
    <title>AROGYA</title>
</head>
<body>
 <div class="wrapper">
    <nav class="nav">
        <div class="nav-logo">
            <p>Arogya</p>
        </div>

        <div class="nav-menu-btn">
            <i class="bx bx-menu" onclick="myMenuFunction()"></i>
        </div>
    </nav>
    <div class="container">
        <div class="image-container">
          <img src="static\assets\img-1.png" alt="Image">
        </div>
        <div class="text-container">
          <h4>More than 37 million people in the United States have diabetes, and 1 in 5 of them don’t know they have it.</h4>
        </div>
      </div>

    <!-- <div class="typewriter">
        High cholesterol has no symptoms, so many people don’t know that their cholesterol is too high. A simple blood test can check cholesterol levels.
    </div> -->


        <div class="sugar-container" id="login">
            <div class="top">
                <header>Enter your Sugar level here</header>
            </div>
            <form action="{{url_for('sugarlevel')}}" method="post" class="sugar">
                <div class="input-box">
                    <input type="text" name="sugar" class="input-field" placeholder="Sugar level">
                    <i class='bx bx-test-tube'></i>
                </div>
                <div class="input-box">
                    <input type="submit" class="submit" value="Press here to calculate">
                </div>
            </form>
        </div>



        

</div>   


<script>
   
   function myMenuFunction() {
    var i = document.getElementById("navMenu");

    if(i.className === "nav-menu") {
        i.className += " responsive";
    } else {
        i.className = "nav-menu";
    }
   }
 
</script>


</body>
</html>